* {
  box-sizing: border-box;
  padding: 0 0.8rem;
  margin: 0;
  font-family: Helvetica;
}
.teste {
  background: rgb(0, 123, 255);
  height: 92vh;
  min-width: 410px;
  width: 60%;
  content: "";
  position: absolute;
  left: -12%;
  border-radius: 82% / 60% 90% 70% 10%;
  z-index: -1;
  animation: 18s ease-in-out 0s infinite normal none running wobble;
}
.teste img {
  position: relative;
  left: 16%;
  top: -16%;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: auto;
  margin-top: 2%;
  align-items: center;
}

.img-logo {
  display: flex;
  justify-content: flex-start;
  padding: 10px 0 0 0;
}

.img-logo img {
  width: 100%;
  padding: 0 0;
  border-radius: 2px;
}

.title {
  display: flex;
  justify-content: center;
  padding: 2rem 0 4rem;
}
.title h1 {
  color: rgb(27, 19, 91);
  background-color: #fff;
  border-radius: 2px;
  font-size: 30px;
  font-family: cursive;
}

/* .new-sort {
    display: flex;
    justify-content: flex-end;
    padding-right: 0;
}

.new-sort button{
    color: #fff;
    border: none;
    background-color: #428fdc;
    font-size: 10px;
    padding: 7px 11px;
    border-radius: 3px;
    cursor: pointer;
} */

.name-sort {
  display: grid;
  justify-content: center;
}
.caixa {
  display: grid;
  gap: 8px;
  padding: 30px 20px;
  border-radius: 5px;
  box-shadow: rgb(219 219 219) 4px 1px 17px -5px;
  max-width: 350px;
  min-width: 330px;

}
.caixa h6 {
  padding-left: 0;
}
.caixa input {
  border: 1px solid rgb(20, 20, 20);
  padding: 4px 2px 4px 30px;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  opacity: 0.7;
  color: rgb(16, 2, 73);
  padding: 2px 0 3px 5px;
  font-size: 18px;
}
.caixa button {
  color: #fff;
  border: none;
  background-color: #428fdc;
  font-size: 10px;
  padding: 5px 22px;
  border-radius: 3px;
  font-size: 20px;
  cursor: pointer;
}
/* .avancar-sort{
    display: flex;
    justify-content: flex-end;
    padding: 8px 0 50px 0;
} */

/*=========== HTML SORTEIO================== */
.img-bg img{
    z-index: -1;
    position: absolute;
    bottom: 12%;
}
.name-int {
  display: flex;
  flex-direction: column;
}
.name-titulo {
  display: grid;
}
/* .name-titulo-h4 {

} */
.name-input {
    display: flex;
    padding: 5px 0;
}
.name-input input {
  background-color:#428fdc;
  border: 2px solid #fff;
  color: #fff;

}
.name-input input:hover {
  box-shadow: 0 0 10px 0 #fff inset, 0 0 10px 4px #fff;

}
.btn-sortear{
  display: inline-block
}
.btn-one{
  border-color: #3498db;
  color: #fff;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  border-radius: 3px 0 0 3px;
  border-left: none;
  border: 2px solid #fff;



}
.btn-two{
  border-color: #3498db;
  color: #fff;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  border-radius:  0 3px 3px 0;
  border-left: none;
  border: 2px solid #fff;

 
}
.btn-one:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}
.btn-two:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}

.btn {
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  /* border-radius: 0.6em; */
  color: #fff;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  padding: 5px 10px;
  text-decoration: none;
  text-align: center;

  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.btn:hover, .btn:focus {
  color: #fff;
  outline: 0;
}
.caixa-box{
  z-index: 1;
  display: grid;
  gap: 8px;
  padding: 5px 20px;
  border-radius: 8px;
  box-shadow: rgb(219 219 219) 4px 1px 17px -5px;
  max-width: 550px;
  min-width: 230px;
  background-color: #fff;
  

}
.caixa-box-one{
  z-index: 1;
  display: grid;
  gap: 8px;
  padding: 5px 20px;
  border-radius: 8px;
  box-shadow: rgb(219 219 219) 4px 1px 17px -5px;
  max-width: 550px;
  min-width: 230px;
  background-color: #fff;
  
}
.box-lista{
  display: grid;
  padding: 10px 40px ;
  background: rgb(0, 123, 255);
  max-width: 500px;
  border-radius: 15px;

}
.list-int {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

/* container-final  */
header{
  display: grid;
  justify-items: center;
}

.nome-do-sorteio{
  text-transform: uppercase;
  padding-left: 0;
  font-size: medium;
  /* color: white ; */
}
.name-2{
  display: flex;
  justify-content: center;
}
.name-2 h3{
  text-transform: capitalize;
  font-family:Arial, Helvetica, sans-serif;
}
.btn-atualizar{
  position: absolute;
  right: 10%;
  bottom: 10%;
  border-color: #fff;
  color: #fff;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  border-radius: 3px;
  border-left: none;
  border: 2px solid #3498db;
  font-size: 20px;
}
.btn-atualizar:hover{
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
 
}